/* Genel Stil Ayarları */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //user-select: none;
}

img {
    user-select: none;
    //pointer-events: auto;
    //-webkit-user-drag: none;
}

a {
    //text-decoration: none;
    //color: inherit;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

/* Wrapper */
#wrapper {
    margin: 0;
    padding: 0;
    width: 405px; /* Tasarım genişliği */
    height: 720px; /* Tasarım yüksekliği */
    position: relative;
    transform-origin: 0 0;
}

/* Container (Üst Bölüm) */
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 88%; /* %85 Alan */
    position: relative;
}

/* Footer (Alt Bölüm) */
footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 12%; /* %15 Alan */
    position: relative;
}

.footer-content {
    height: 100%;
}

/* Bottom Menu Wrapper */
.bottom-menu-wrapper {
    background-color: #272A2F;
    padding: 1% 0;
    width: 100%;
    height: 100%;
    position: relative;
    color: black;
}

.bottom-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100%-10px); /* Divider için yer bırakıldı - 20px*/
    position: relative;
    overflow: hidden;
}

.bottom-menu-item {
    flex: 1;
    max-width: 18%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.bottom-menu-item .background {
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
    background-size: cover;
    background-position: center;
    z-index: 1;
    overflow: hidden;
}

.bottom-menu-item img {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

.exchange .background {
    background-image: url('../img/6/exchange_icon.png');
}

.missions .background {
    background-image: url('../img/6/missions_icon.png');
}

.playground .background {
    background-image: url('../img/6/playground_icon.png');
}

.friends .background {
    background-image: url('../img/6/friends_icon.png');
}

.store .background {
    background-image: url('../img/6/store_icon.png');
}

/* Bottom Divider */
.bottom-divider {
    position: absolute;
    left: 0;
    width: 100%;
    height: 10px; /* Divider yüksekliği */
    z-index: 0;
}

.bottom-divider img {
    width: 100%;
    margin-top: -6%;
    height: auto;
    display: block;
}

/* Dinamik İçerik İçin Temel Stil */
.dynamic-content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* İçeriklerin Taşmasını Engellemek İçin */
.dynamic-content * {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

/* home.html ve Diğer Sayfalar İçin Stil */
.home-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-section {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 1% 8%;
    height: 20%;
}

.top-section .wallet {
    height: 90%;
    width: auto;
}

.top-section .logo {
    height: 90%;
    width: auto;
}

.top-section img {
    width: 100%;
    height: auto;
}

.level-section {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    flex-wrap: nowrap;
    height: auto;
}

.left-column {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.level {
    width: 35%;
    margin-left: 7%;
}

.level img {
    width: 100%;
    height: auto;
}

.level-bar {
    width: 90%;
    margin: 0 auto;
}

.level-bar img {
    width: 100%;
    height: auto;
}

.right-column {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points {
    width: 95%;
    position: relative;
}

.points img {
    width: 100%;
    height: auto;
}

.points-value {
    position: absolute;
    bottom: 55%;
    left: 45%;
    color: white;
    transform: translate(50%, 50%);
    font-size: 80%;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
}

/* Divider */
.divider {
    flex: 0 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-top: 0;
    margin-top: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, black 50%, #1C1F24 50%);
    z-index: -1;
}

.divider img {
    width: 100%;
    height: auto;
}

/* Menu Section */
.menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    background-color: #1C1F24;
    height: 25%;
}

.menu-item {
    flex: 1 1 auto;
    max-width: 25%;
    position: relative;
    padding-top: 35%;
    background-color: transparent;
    overflow: hidden;
}

.menu-item .background {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 70%;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.menu-item img {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}


.events .background {
    background-image: url('../img/4/events_icon.png');
}

.tournaments .background {
    background-image: url('../img/4/tournaments_icon.png');
}

.leaderboard .background {
    background-image: url('../img/4/leaderboard_icon.png');
}

/* Game Section */
.frame-wrapper {
    flex: 1 1 auto;
    background-color: #1C1F24;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 55%;
}

.frame {
    user-select: none;
    position: relative;
    width: 75%;
    height: auto;
    padding-bottom: 2%;
    overflow: hidden;
    z-index: 2;
}

.frame .background {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    background-image: url('../img/5/game-content.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.frame img {
    width: 100%;
    height: auto;
    border-radius: 65%;
    pointer-events: auto;
    z-index: 3;
}

.game-info {
    position: absolute;
    bottom: 2%;
    left: 1%;
    right: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 4;
}

.counter {
    font-size: 10px;
}

.boost-button {
    background-color: #333;
    color: white;
    right: 1%;
    bottom: 2%;
    //padding: 8px 20px;
    font-size: 10px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    z-index: 5;
}
