/* static/css/admin_styles.css */

/* Admin Paneli Stil Ayarları */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

a {
    color: #3498db;
    text-decoration: none;
}

button {
    padding: 5px 10px;
    margin: 5px;
}
