/* board_chess_stonemu.css */

.chessboard {
  background: url('../../img/chess_img/chess_background.png') repeat;
  background-size: cover;
}

.square.light {
  background-color: rgba(255, 255, 255, 0.8);
  background-image: linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

.square.dark {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(255,255,255,0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}

.square.highlight {
  outline: 2px solid yellow;
}
