<!-- templates/exchange_selection.html -->

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Borsa Seçimi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div id="exchange-selection">
        <h2>Borsanızı Seçin</h2>
        <div class="dropdown">
            <select id="exchange-dropdown">
                <option value="" disabled selected>Borsa Seç</option>
                <option value="binance">Binance</option>
                <option value="okx">OKX</option>
                <option value="bitget">Bitget</option>
            </select>
        </div>
        <button id="exchange-ok-button">Tamam</button>
    </div>
    <!-- JavaScript Dosyası -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
